
亲爱的 $!mailEntity.userName,

您好，感谢您注册情歌（www.lovesong.com）

这是一封确认邮件.
请妥善保留这封电子邮件. 您的情歌账户信息如下:
----------------------------
登录邮箱: $!mailEntity.email
----------------------------

请点击以下链接完成确认：
$!mailEntity.activeURL

(如果链接不能点击，请复制并粘贴到浏览器的地址栏，然后按回车键)


发自情歌网,汇聚全球情感
情歌将与和您一同成长，再次感谢您的注册！


友情提示您：
         如果您忘记了密码，可以在用户登录界面通过'找回密码'的链接，重置你的密码。

